
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
} <title>Tin tức</title>

<div class="tintuc">
    <div class="tt1">
        <div class="b">
            <div class="col-12 col-s-12 img1">
                <img src="~/asset/img/imgtintuc/img1.jpg" alt="">
            </div>
            <div class="col-12 col-s-12 txt1">
                <a href="tintuc1.html">
                    Coca-Cola ghi danh 100% nguồn cung ngô Hoa Kỳ trong sáng
                    <br> kiến nông nghiệp bền vững tiên phong.   (Khám phá)
                </a>
            </div>
        </div>
        <div class="txtc">
            <div class="col-5 col-s-5 img2">
                <img src="~/asset/img/imgtintuc/img2.png" alt="">
            </div>
            <div class="col-7 col-s-7 txt2">
                <a href="tintuc2.html">
                    AHA Sparkling Water ra mắt chiến dịch quảng cáo đầu tiên .
                </a>
            </div>
        </div>
        <div class="txtc1">
            <div class="col-5 col-s-5 img3">
                <img src="~/asset/img/imgtintuc/img3.png" alt="">
            </div>
            <div class="col-7 col-s-7 txt3">
                <a href="#">
                    Giải thưởng Quỹ Coca-Cola tài trợ tổng cộng 35 triệu đô la.
                </a>
            </div>
        </div>
        <div class="txtc2">
            <div class="col-5 col-s-5 img4">
                <img src="~/asset/img/imgtintuc/img4.png" alt="">
            </div>
            <div class="col-7 col-s-7 txt4">
                <a href="#">
                    Honest Tea mở rộng danh mục đồ uống đóng chai tuyệt vời của mình
                    với Đồ uống sẵn có caffein mới, Trung thực® Yerba Mate.
                </a>
            </div>
        </div>
    </div>
    <div class="tt2">
        <div class="b1">
            <div class="col-12 col-s-12 img5">
                <img src="~/asset/img/imgtintuc/img5.png" alt="">
            </div>
            <div class="col-12 col-s-12 txt5">
                <a href="#">
                    AHA chào đón Raspberry + Acai và Mango + Trà đen đến
                    <br> dòng nước lấp lánh có hương vị.
                </a>
            </div>
        </div>
        <div class="tt3">
            <div class="col-4 col-s-4 txtc3">
                <div class=" img6">
                    <img src="~/asset/img/imgtintuc/img6.jpg" alt="">
                </div>
                <div class=" txt6">
                    <a href="#">
                        Giới thiệu smartwater +, một dòng nước chăm sóc sức
                        khỏe cao cấp mới với các thành phần độc đáo và chiết xuất hương vị.
                    </a>
                </div>
            </div>
            <div class="col-4 col-s-4 txtc4">
                <div class=" img7">
                    <img src="~/asset/img/imgtintuc/img7.png" alt="">
                </div>
                <div class="txt7">
                    <a href="#">
                        Hợp lý hóa danh mục thương hiệu, tiếp thị
                        và đổi mới cho chiến lược năm 2021 của Power Coke.
                    </a>
                </div>
            </div>
            <div class="col-4 col-s-4 txtc5">
                <div class="img8">
                    <img src="~/asset/img/imgtintuc/img8.jpg" alt="">
                </div>
                <div class="txt8">
                    <a href="#">
                        Coca-Cola hỗ trợ cứu trợ bão mùa đông ở Texas và hơn thế nữa như thế nào.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
